
/* GENERAL */
*
{
	margin: 0px;
	font-family: 'Dosis', sans-serif;
}

p
{
	font-size: 1em;
}

/* Header et Barre de navigation */
#en-tete
{
	width: 0px;
}

header h1
{
	line-height: 1.2;
	margin-top: 2.5%;
	font-weight: 500;
	font-size: 4vh;
	text-align: right;
}

header h2
{
	text-align: right;
	font-size: 35px;
	color: #92c600;
	margin: 1.5%;
}

header h1
{
	display: inline-block;
}

header span
{
	color: blue;
	font-size: 40PX;
}

header
{
	margin: 20px;
}

header nav ul li
{
	margin-right: 20px;
}

header nav ul li a
{
	font-size: 20px;
	text-decoration: none;
	color: black;
}

header nav ul li a:hover
{
	color: blue;
}

/* BARRE DE NAVIGATION RESPONSIVE */
.menu
{
	display: none;
	flex-basis: 100%;
}

.menu-checkbox:checked ~.menu
{
	display:block;
}

.menu-checkbox
{
	position: absolute;
	top: -5000px;
	opacity: 0;
}

#barre-menu
{
	font-size: 25px;
	color: #868686;
}

.menu-toggle
{
	margin-left: 15px;
	padding: 2px;
	font-size: 20px;
}

.menu-checkbox:focus + .menu-toggle
{
	outline: #0e99d8 auto 5px;
}

.menu-checkbox:hover + .menu-toggle
{
	outline: #0e99d8 auto 5px;
}

nav
{
	flex-wrap: wrap;
	margin-left: 0 10%;
}

header nav  ul
{
	display: table;
	width: 80%;
	height: 80%;
	margin: 10px auto;
	padding: 0;
}

header nav li
{
	list-style: none;
	text-transform: uppercase;
	font-weight: bold;
}

header nav ul li a
{
	color: #444;
}

header nav ul li a:hover
{
	color: #0e99d8;
}

@media screen and (min-width: 40em)
{
	.menu-toggle, .menu-checkbox
	{
		display: none;
	}

	.menu
	{
		display: block;
		flex-basis: auto;
	}

	.menu li
	{
		display: inline-block;
	}
}

/*Galerie photos*/
#photo
{
	display: block;
	text-align: center;
	margin: 10px;
}

#photo img
{
	height: 50%;
	width: 50%;
	margin-right: 5px;
}

#image_principal img
{
	width: 100%;
}

/* titre galerie de photo */
.mesphotos
{
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	margin:50px 0;
}

/* mes réseaux*/
footer
{
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	display: inline-block;
}

footer img
{
	height: 100px;
}

footer p
{
	margin: 0 100px;
}

#sosbackup a
{
	text-decoration: none;
}

#sosbackup
{
	font-size: 17px;
}

/* responsive */
@media screen and (max-width: 60em)
{
	.responsive
	{
		font-size: 19px;
		margin: 0 5px;
	}
}
