*{
    margin: 0px;
    font-family: 'Dosis', sans-serif;
}
/* Header et Barre de navigation */
span{
    color: blue;
    font-size: 40PX;
}
header{
    margin: 20px;
}
h1{
    display: inline-block;
}
nav{
    float: right;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: blue;
}
/*Galerie photos*/
#photo{
    display: block;
    text-align: center;
    margin: 10px;
}
#photo img{
    width: 500px;
    height: 333px;
    margin-right: 5px;
}

#image_principal img
{

    width: 100%;
}
/* titre galerie de photo */
.mesphotos
{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
}



/* mes réseaux*/

p
{
    font-size: 23px;
    
}

